*{
	
}
html{
	scroll-behavior: smooth;
}

div{
	background-color: red;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.b{
	background-color: green;
}
.c{
	background-color: blue;
}